



  #journal_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "form_control form_control"
      "journal buckets"
  }
  #journal {
    grid-area: journal;
  }

  #buckets {
    grid-area: buckets;
  }

  #form_control {
    grid-area: form_control;
    display: flex;
    justify-content: center;
    flex-basis: 0;
  }

  #form_control * {
    flex-grow: 1;
  }

  #moment_note {
    flex-grow: 4;
  }

/**** Journal Entry ****/
  .journal_entry {
    display: flex;
    flex-direction: column;
    padding-top: .5em;
  }
  .journal_row {
    display: flex;
    align-items: baseline;
    justify-content: start;
    padding-right: 1em;
    text-align: left;
  }

  .memo {
    flex-basis: 75%;
  }

  .bucket {
    font-size: 85%;
    color: slategray;
  }

  .positive {
    color: darkgreen;
    flex-basis: 25%;
    text-align: right;

  }

  .negative {
    color: darkred;
    flex-basis: 25%;
    text-align: right;
  }


  .timestamp {
    font-size: 75%;
    flex-basis: 75%;
    color: slategray;
  }


  .units {
    font-size: 75%;
    flex-basis: 25%;
    color: slategray;
    text-align: right;
  }


/*** Burn Rows ***/

  .bucket_list_title {
    font-weight: bold;
    font-size: 125%;
  }

  .bucket_list_title a{
    padding-left: 0px;
  }

  .bucket_list_subtitle {
    font-size: 75%;
    color: slategray;
    border-bottom: 2px solid slategray;
  }
