
  h2 {
    text-decoration: underline;
  }

  button[type=submit], a, a:visited {
    border: none;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    text-align: center;
    padding: .25em;
    font-size: 1.5em;
  }

  a, a:visited {
    border: none;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    text-align: center;
    padding: 0px;
    font-size: 1em;
  }

  button:hover, a:hover {
    color: slategray;
    text-decoration: underline;
  }

  select:invalid {
    color: gray;
  }
