
  html, body {
    height: 100%;
    width: 100%;
    font-family: 'Courier', monospace;
    font-size: 1em;
    color: black;

  }

  body {
    background-color: lightgray;

  }

  #grid_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "psi psi_naught"
      "form_choices form_choices"
      "footer footer";
  }

  #psi {
    grid-area: psi;
  }

  #psi_naught {
    grid-area: psi_naught;
  }

  #form_choices {
    grid-area: form_choices;
    border-top: 5px solid lightslategray;
    display: flex;
    justify-content: center;
  }

  header {
    border-bottom: 5px solid slategray;
    grid-area: header;

  }

  footer {

    text-align: center;
    grid-area: footer;
  }



  header, section, footer {
    padding-left: 2em;
  }



  section {
    padding: 2em;
  }



  h2 {
    text-decoration: underline;
  }



  a, a:visited {
    text-decoration: none;
    color: inherit;
    font-size: 1.5em
  }

  a:hover {
    color: slategray;
    text-decoration: underline;
  }

  button[type=submit] {
    border: none;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    text-align: center;
    padding: 0em;
    font-size: 1.5em;
  }

  button:hover {
    color: slategray;
    text-decoration: underline;
  }

.toggle input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}
.toggle input[type="checkbox"]:checked + label {
  color: slategray;
}
