
  html, body {
    height: 100%;
    width: 100%;
    font-family: 'Courier', monospace;
    font-size: 1em;
    color: black;

  }

  body {
    background-color: lightgray;

  }

  #grid_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "form_control form_control"
      "journal buckets"
      "footer footer";
  }

  #journal {
    grid-area: journal;
  }

  #buckets {
    grid-area: buckets;
  }



  #form_control {
    grid-area: form_control;
    border-top: 5px solid lightslategray;
    display: flex;
    justify-content: center;
    flex-basis: 0;
  }

  #form_control * {
    flex-grow: 1;
  }

  #moment_note {
    flex-grow: 4;
  }




  header {
    grid-area: header;
    border-bottom: 5px solid slategray;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .journal_row {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-areas:
      "name debit credit"
      "memo memo memo";
      padding-top: 1em;
  }

  .name {
    grid-area: name;
  }

  .memo {
    grid-area: memo;
    padding-left: 2em;
  }

  .credit {
    grid-area: credit;
    justify-self: end;
  }

  .debit {
    grid-area: debit;
    justify-self: end;
  }

  .burn_row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: end;
  }

  .first {
    justify-self: start;
  }

  footer {

    text-align: center;
    grid-area: footer;

  }



  header, section, footer {
    padding-left: 2em;
  }



  section {
    padding: 2em;
  }



  h2 {
    text-decoration: underline;
  }

  button[type=submit], a, a:visited {
    border: none;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    text-align: center;
    padding: .25em;
    font-size: 1.5em;
  }

  a, a:visited {
    border: none;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    text-align: center;
    padding: 0px;
    font-size: 1em;
  }

  button:hover, a:hover {
    color: slategray;
    text-decoration: underline;
  }

  select:invalid {
    color: gray;
  }

  /*.toggle input[type="radio"] {
    position: absolute;
    opacity: 0;
  }

  .toggle input[type="radio"]:checked + label {
    color: slategray;
  }

  .toggle input[type="radio"]:focus + label, a:focus, input:focus, button:focus{
      outline: solid 4px slategray;
  }

  */
