<h1>Sign Up</h1>
<% if flash.has?(:messages) %>
<ul>
  <% flash[:messages].each do |message| %>
    <li><%= message.first %> - <%= message.flatten.last %></li>
  <% end %>
</ul>

<% end %>
<form action="/signup" method="post">
  <label for="username">User Name</label>
  <input type="text" name="username">

  <label for="email">Email</label>
  <input type="text" name="email">

  <label for="password">Password</label>
  <input type="text" name="password">

  <input type="submit" name="submit">
</form>
