<main id="form_content">
  <h2>Login</h2>
  <form action="/login" method="post">

    <input type="text" id="username" name="username" placeholder="username">


    <input type="text" id="password" name="password" placeholder="password">

    <button type="submit">submit</button>
  </form>
</main>
