<h2><%= @user.username %>'s buckets | <a class="button" href="/buckets/new">+</a></h2>
<% if flash.has?(:message) %>
  <p><%= flash[:message] %></p>
<% end %>

  <% @buckets.each do |bucket| %>
    <a href="buckets/<%= bucket.slug %>"><%= bucket.name %></a></br>
  <% end %>
