<header>
  <h1><%= @user.username %>'s buckets | <a class="button" href="/buckets/new">+</a></h1>
</header>


  <div id="buckets" >
    <div class="psi bucket_column">

      <h1>PSI</h1>
      <% @buckets.select {|bucket| bucket.potential}.each do |bucket| %>
        <%= erb :'partials/bucket_card', :layout => false, :locals => {:bucket => bucket} %>
      <% end %>
      
      <a href="buckets/new?potential=on">
      <div class="bucket_card">
        <h1>+</h1>
      </div>
      </a>
    </div>


    <div class="psi-naught bucket_column">

      <h1>PSI_NAUGHT</h1>

      <% @buckets.select {|bucket| !bucket.potential}.each do |bucket| %>
        <%= erb :'partials/bucket_card', :layout => false, :locals => {:bucket => bucket} %>
      <% end %>

      <a href="buckets/new">
      <div class="bucket_card">
        <h1>+</h1>
      </div>
      </a>


    </div>

  </div>
