<form action="/buckets/detail" method="get">
  <div id="grid_wrapper">
    <header>
      <h1>
        <%= @user.username %>'s buckets
      </h1>
    </header>



      <section id="psi">

        <h2>psi</h2>

        <% @buckets.select {|bucket| bucket.potential}.each do |bucket| %>
          <%= erb :'partials/bucket_row', :layout => false, :locals => {:bucket => bucket} %>
        <% end %>

        <a href="buckets/new?potential=on">add_bucket</a>

      </section>

      <section id="psi_naught">

        <h2>psi_naught</h2>

        <% @buckets.select {|bucket| !bucket.potential}.each do |bucket| %>
          <%= erb :'partials/bucket_row', :layout => false, :locals => {:bucket => bucket} %>
        <% end %>

        <a href="buckets/new">add_bucket</a>

      </section>

      <section id="form_choices">
        <button type="submit" name="submit">submit</button>
        <button type="submit" name="submit">submit</button>
        <button type="submit" name="submit">submit</button>
        <a href="/logout">logout</a>
      </section>



    <footer>
      <p><small>&copy; 2019 <strong>burnbucket</strong></small></p>
    </footer>
  </div>
</form>
