<h1><%= @user.username %>'s buckets</h1>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

  <% @buckets.each do |bucket| %>
    <a href="buckets/<%= bucket.id %>"><%= bucket.name %></a></br>
  <% end %>


<a class="button" href="/buckets/new">New Bucket</a>
<a class="button" href="/logout">Logout</a>
