<%= erb :'partials/bucket_breadcrumb' %>


<% if flash.has?(:messages) %>
<ul>
  <% flash[:messages].each do |message| %>
    <li><%= message.first %> - <%= message.flatten.last %></li>
  <% end %>
</ul>

<% end %>

<form action="/buckets" method="post">
  <input type="text" name="bucket[name]" placeholder="name">
  <input type="text" name="bucket[unit]" placeholder="unit">
  <input type="submit" name="submit">
</form>
