

<main id="form_content">
<h2>Add Bucket</h2>
<% if flash.has?(:messages) %>
<ul>
  <% flash[:messages].each do |message| %>
    <li><%= message.first %> - <%= message.flatten.last %></li>
  <% end %>
</ul>

<% end %>

<form action="/buckets" method="post">
  <input type="text" name="bucket[name]" placeholder="name">
  <input type="text" name="bucket[size]" placeholder="size">
  <input type="text" name="bucket[unit]" placeholder="unit">
  <button type="submit">submit</button>
</form>
</main>
