<header>
  <%= @user.username %>'s buckets | <a class="button" href="/buckets/new">+</a>
</header>

<% if flash.has?(:message) %>
  <p><%= flash[:message] %></p>
<% end %>
<div class="bucket_wrapper">
  <% @buckets.each do |bucket| %>
    <div>
      <a href="buckets/<%= bucket.slug %>"><%= bucket.name %></a>
    </div>
  <% end %>
</div>
