<main id="form_content">
<h2>Sign Up</h2>
<% if flash.has?(:messages) %>
<ul>
  <% flash[:messages].each do |message| %>
    <li><%= message.first %> - <%= message.flatten.last %></li>
  <% end %>
</ul>

<% end %>
<form action="/signup" method="post">

  <input type="text" name="username" placeholder="username">


  <input type="text" name="email" placeholder="email">


  <input type="text" name="password" placeholder="password">

  <button type="submit">submit</button>
</form>
</main>
