

<% if flash.has?(:message) %>
  <%= flash[:message]%>
<% end %>

<form action="/moments/<%= @moment.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="new_moment[name]">Name</label>
  <input type="text" name="new_moment[name]">

  <label for="new_moment[amount]">Amount</label>
  <input type="text" name="new_moment[amount]">
  </br>
  <input type="submit" name="submit">
</form>
