
<% if flash.has?(:messages) %>
<ul>
  <% flash[:messages].each do |message| %>
    <li><%= message.first %> - <%= message.flatten.last %></li>
  <% end %>
</ul>

<% end %>

<form action="/moments/<%= @moment.id %>" method="post">

  <label for="new_moment[name]">Name</label>
  <input type="text" name="new_moment[name]">

  <label for="new_moment[amount]">Amount</label>
  <input type="text" name="new_moment[amount]">
  </br>
  <input type="submit" name="submit">
</form>
